<p id="notice"><%= notice %></p>

<h1 class="ui header">Movies</h1>

<table class="ui compact celled table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Release Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.release_date %></td>
        <td style="text-align: center;">
          <%= link_to document_path(document), class: 'ui primary mini basic button' do %>
              Show
          <% end %>
          <%= link_to edit_document_path(document), class: 'ui default mini basic button' do %>
              Edit
          <% end %>
          <%= link_to document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui negative mini basic button' do %>
              Delete
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @documents %>

<br>

<%= link_to('New Movie', new_document_path, class: 'ui huge positive button ') %>
